<nav>
  <div class="nav-wrapper purple lighten-1">
    <ul class="left">
      <li class="active">
        <a>Developped by Antoine Dancre</a>
      </li>
    </ul>
    <ul class="right">
      <li>
        <% if (!logged) { %>
          <a href="/authenticate"><i class="material-icons left">book</i> Log in with GitHub</a>
        <% } else { %>
          <a href="/logout"><i class="material-icons left">exit_to_app</i> Log out</a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
